@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.ttf");
}

* {
  --black: #191919;
  --gray: #1c1c1c;
  --light-gray: #939393;
  --white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
  background-color: var(--black);
}

* {
  scrollbar-width: auto;
  scrollbar-color: #959595 #000000;
}
*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-track {
  background: #000000;
}
*::-webkit-scrollbar-thumb {
  background-color: #959595;
  border-radius: 10px;
  border: 3px solid #959595;
}
